body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    background-image: url("https://www.shutterstock.com/image-vector/online-ordering-taxi-car-rent-600nw-1490648672.jpg");
    background-size: calc(1200px);
    
    
    font-weight: 300;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

header {
    background-color: #333333c8;
    color: #fff;
    padding: 20px;
    margin-top: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #151514;
}

main {
    padding: 20px;
}

#welcome-section {
    text-align: center;
}

footer {
    background-color: #1a1919a3;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 200px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    width: 30%;
}

.footer-section h3 {
    color: #ebeae4;
    margin-bottom: 10px;
}

.footer-section p,
.footer-section a {
    color: #fff;
    margin-bottom: 8px;
    text-decoration: none;
    display: block;
}

.footer-section a:hover {
    color: #ffcc00;
}
